body {
    font-family: Arial;
    line-height: 1.4em;
    background-color: rgb(74, 82, 74);
    margin: 0px;
}

article {
    max-width: 700px;
    margin: 0 auto;
}

header {
    background-color: rgb(7, 7, 7);
    text-align: center;
    margin-top: 0px;
    color: beige;
}

h1,
h2,
h3 {
    color: rgb(196, 3, 3);
    font-family: 'IBM Plex Sans', sans-serif;
}

h2,
h3 {
    color: rgb(3, 196, 3);
    text-decoration-line: underline;
    text-align: center;
}

#firstimg {
    float: left;
}

#secimg {
    float: right;
}

.next {
    width: 550px;
    height: 340px;
}

#link {
    float: left;
    text-align: center;
    margin-left: 100px;
}

iframe {
    margin-left: 100px;
}

table {
    float: right;
    margin-right: 250px;
    width: 20%;
    margin-bottom: 50px;
}

td,
tr {
    border: 3px solid rgb(9, 10, 0);
    padding: 0px 40px 0px 40px;
}

.list {
    float: left;
    margin-left: 180px;
    margin-bottom: 50px;
    color: black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(8, 8, 8);
    color: rgb(216, 212, 212);
    text-align: center;
}